<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["PageTitle"]</title>
</head>
<body>
    <div>
        @Html.Partial("~/Views/Shared/_Header.cshtml")
        @RenderBody()
    </div>
</body>
</html>