<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["PageTitle"]</title>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div>
        @Html.Partial("~/Views/Shared/_Header.cshtml")
        @RenderBody()
    </div>
</body>
</html>